.hotel-list > ul{
    width: 100%;
    padding-left: 0;
}

.hotel-list > .m-circle {
    position: relative;
    top: 59px;
    margin: 0 auto;
    background-color: #2aabd2;
    width: 150px;
    height: 75px;
    border-radius: 0 0 75px 75px;
    z-index: -1;
}