li{
    list-style: none;
}

.hotel-list{
    background-color: #0e4980;
    height: 60px;
    width: 100%;
    position: fixed !important;
}
.hotel-page{
    /*background-color: #2aabd2;*/
    height: 1740px;
}