.hotel-page {
    .sel {
        display: block;
    }

    > div {
        display: none;
    }

    .hotel-home {
        margin: 0 auto;
        position: relative;
        top: 40px;
        background-color: #00ee00;
        height: 400px;

        .m-head {
            margin: 0 auto;
            //height: 300px;
            //width: 200px;

            > h1 {
                position: relative;
                top: 100px;
            }

            .time {
                display: inline-block;
                position: relative;
                top: 200px;

                > div {
                    float: left;

                    input{
                        border: none;
                    }
                }
            }

        }
    }
}