li {
    list-style: none;
}

.hotel-list {
    background-color: #0e4980;
    height: 60px;
    width: 100%;
    position: fixed !important;
    top: 0;
    border-radius: 0;
}

.hotel-page {
    /*background-color: #2aabd2;*/
    height: 740px;
}